{% extends 'base.html' %}
{% load static %}
 
{% block title %}
Объявления
{% endblock title %}
 
{% block content %}
<article class="blog-post">
  <h2 class="blog-post-title">{{adv.title}}</h2>
  <p class="blog-post-meta">{{ adv.created }} <a href="#">{{adv.author}}</a></p>
  <hr>
  <p>{{ adv.text }}</p>
  {% if adv.image %}
    <p><img src="{{adv.image.url}}" style="width: 100%; float: left; margin-right: 10px;"></p>
  {% else %}
  <p></p>
  {% endif %}

  {% if adv.video %}
    <video>
      <source src="{{ adv.video.url }}">
    </video>
  {% else %}
  <p></p>
  {% endif %}
</article>

<button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" >Откликнуться</button>
<comment>
  {% for comment in adv.comment_set.all %}
  <p class="blog-post-meta"><a href="#">{{comment.author}}</a>{{comment.created}}</p>
  <p>{{comment.text}}</p>
  {% endfor %}
</comment>

{% endblock content %}